tabler
exchange_rates
git+ssh://lseagle@lsgit.uk/~/lsgit.uk/template_to_pdf.git@v1.0
git+ssh://lseagle@lsgit.uk/~/lsgit.uk/pylinnworks.git@v1.3
git+ssh://lseagle@lsgit.uk/~/lsgit.uk/stclocal.git@v1.6
